@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
/* hero section start */
.hero{
    display: flex;
    justify-content: space-between;
}
#hero-section{
    display: block;
    margin: 30px auto 0 auto;
    max-width: 1280px;
    min-height: 560px;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 10px;
}
.hero .hero-content h4{
    color: #716D6D;
    font-size: 24px;
    font-weight: 500px;
    padding: 30px 0 0 0;
}
.hero .hero-content h1{
    color: #0E0E0E;
    font-weight: 622;
    font-size: 56px;
    padding: 25px 0 35px 0 ;
}
.hero .hero-content button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    cursor: pointer;
}
.hero .hero-content button a{
    font-size: 18px;
    font-weight: 600px;
    text-decoration: none;
    color: #FFFFFF;
}
.hero .hero-content button:hover{
    transition: 0.5s;
    background-color: #07382c;
    border-radius: 0px;
}

/* vision section start */
.vision{
    width: 1280px;
    display: block;
    margin: 0 auto;
}
.vision > h1{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    padding: 50px 0 15px 0;
}
.vision > p{
    color: rgb(14, 14, 14, 70%);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.vision .vision-cards{
    display: flex;
    gap: 20px;
    margin: 30px 0 0 0;
}
.vision .vision-cards .card{
    padding: 25px 20px;
    border-radius: 16px;
}
.vision .vision-cards .card-1{
    background-color: rgb(84, 144, 245, 20%);
}
.vision .vision-cards .card-2{
    background-color: rgb(198, 228, 214, 100%);
}
.vision .vision-cards .card-3{
    background-color: rgb(247, 235, 207, 100%);
}
.vision .card img{
    max-width: 64px;
    height: 64px;
}
.vision .card h3{
    font-weight: 20px;
    font-size: 1.2rem;
    padding: 24px 0 12px 0;
}
.vision .card p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(14, 14, 14, 70%);
} 
.vision .vision-cards .card-1 button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
}
.vision .vision-cards .card-2 button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    margin-top: 38px;
}
.vision .vision-cards .card-3 button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    margin-top: 38px;
}
.vision .card button a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
}
.vision .vision-cards .card-1 button{
    background-color: #5490F5;
}
.vision .vision-cards .card-2 button{
    background-color: #09A15C;
}
.vision .vision-cards .card-3 button{
    background-color: #FFC239;
}
.vision .card button:hover{
    background-color: #8C3AAA;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0;
}

/* quote section start */
.quote{
    display: block;
    margin: 32px auto;
    padding: 48px 24px;
    max-width: 1280px;
    background-color: #ECECEC;
    border-radius: 16px;
}
.quote img{
    width: 65px;
    height: 65px;
    margin-bottom: -40px;
    /* background-size: cover; */
}
.quote h3{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 18px 0 5px 0;
    color: rgb(14, 14, 14, 80%)
}
.quote p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(14, 14, 14, 80%);
}
/* news section start */
.news{
    display: block;
    margin: 32px auto;
    width: 1280px;
    padding: 48px 24px;
    border-radius: 10px;
}
.news > h1{
    font-weight: 700;
    font-size: 2.6rem;
    padding: 30px 0 20px 0;
}
.news > p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 32px;
    color: rgb(14, 14, 14, 70%);
}
.news .news-card{
    display: flex;
    gap: 25px;
    background-color: #f9f9f9;
    border-radius: 24px;
    margin: 20px 0;
    padding: 48px;
}
.news .news-card img{
    width: 408px;
    height: 306px;
    margin-top: 7px;
    border-radius: 24px;
}
.news .news-card .news-card-content h2{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(14, 14, 14, 80%);
}
.news .news-card .news-card-content img{
    width: 134px;
    height: 43px;
    object-fit: contain;
    margin-left: -8px;
}
.news .news-card .news-card-content p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(14, 14, 14, 80%);
    line-height: 24px;
    padding: 12px 0 0 0;
}
.news .news-card .news-card-content button{
    border-radius: 8px;
    width: 122px;
    height: 41px;
    border: none;
    margin-top: 15px;
    background-color: #006A50;
    margin: 20px 0 0 0;
}
.news .news-card .news-card-content button a{
    text-decoration: none;
    color: #fff;
}
.news .news-card .news-card-content button:hover{
    border-radius: 0;
    background-color: #09A15C;
    cursor: pointer;
    transition: 0.5s;
}
/* Donate section start */
.donate{
    display: block;
    width: 1280px;
    margin: 0 auto;
    padding: 20px 55px;
}
.donate h1{
    font-size: 40px;
    font-weight: 700px;
    color: #0E0E0E;
    padding: 0 0 10px 0;
    text-align: center;
}
.donate p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
    text-align: center;
}
.donate .box{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 38px 0;
}
.donate .box .donate-box{
    width: 240px;
    height: 128px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    padding: 40px;
}
.donate .box .d-box-2{
    background-color: #C6E4D6;
}
.donate .box .donate-box:hover{
    border-radius: 0;
    background-color: #006A50;
    cursor: pointer;
    transition: 0.5s;
}
.donate .box .donate-box h3{
    font-size: 35px;
    font-weight: 700px;
    color: rgb(14, 14, 14, 80%);
    text-align: center;
}
.donate .box .d-box-3{
   width: 264px;
}
.donate form{
    text-align: center;
}
.donate form input[type="text"]{
    width: 1024px;
    height: 64px;
    background: #fff;
    text-align: center;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    margin: 20px 0 32px 0;
    outline: none;
}
.donate form input[type="text"]::placeholder{
    color: rgba(14, 14, 14, 0.3);
    font-size: 23px;
    font-weight: 400px;
}
input[type="submit"]{
    width: 151px;
    height: 56px;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    text-align: center;
}
input[type="submit"]:hover { 
    background-color: #09A15C;
    border-radius: 0;
    transition: 0.5s;
}
/* Newsletter section start */
.newsletter{
    display: block;
    margin: 100px auto 0 auto;
    max-width: 1280px;
    padding: 100px 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.newsletter h1{
    font-size: 40px;
    font-weight: 700px;
    color: #0E0E0E;
    padding: 0 0 10px 0;
    text-align: center;
}
.newsletter p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14, 70%);
    line-height: 24px;
    text-align: center;
}
.newsletter form{
    text-align: center;
    margin: 20px 0;
}
.newsletter form input[type="text"]{
    font-weight: 400px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    margin: 0;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding-left: 25px;
    width: 600px;
    height: 55px;
}
.newsletter form input[type="text"]::placeholder{
    color: rgba(14, 14, 14, 0.3);
}
.newsletter input[type="submit"]{
    border-radius: 0 8px 8px 0;
    margin: 0 0 0 -20px;
    width: 149px;
    height: 57px;
}